.search-articles-page {
  padding: 70px;
}
.search-articles-page .holder-articles {
  position: relative;
  margin-top: 50px;
}
.search-articles-page .holder-articles .article {
  background: #ddd;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
}